body {
  background-color: #222222;
  color: #d0d0d0;
}

body >* {
  max-width: 60rem;
  margin: 0 auto;
}

#minesweeper {
  --cell-size: calc(32rem / 16);
}
#game-container {
  width: calc(var(--cell-size) * 9);
}

#game-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--cell-size) * 2);
  font-weight: bold;
  font-size: calc(24rem / 16);
  background-color: #111111;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding: 0 1rem;
}
#mines-remaining, #game-time {
  min-width: calc(var(--cell-size) * 3);
}
#game-time {
  text-align: right;
}


#status-icon {
  cursor: pointer;
}
#status-icon img {
  display: none;
  height: calc(40rem / 16);
  width: calc(40rem / 16);
}
#status-icon.neutral img#status-neutral { display: block; }
#status-icon.sad img#status-sad { display: block; }
#status-icon.happy img#status-happy { display: block; }


#game-board .row {
  display: flex;
}

#game-board .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #777;
  border: 1px solid #444;
}
#game-board .cell[data-state="hidden"] {
  border-color: #aaa #444 #444 #aaa;
  background-color: #999;
  cursor: pointer;
}
#game-board .cell[data-state="hidden"]:hover {
  border-color: #444 #aaa #aaa #444;
  background-color: #888;
}

svg.explosion { fill: #cc4400; }

#game-board .cell[data-flagged="mine"],
#game-board .cell[data-flagged="question"] {
  font-size: 1.375rem;
  font-weight: bold;
  color: #000000;
}

